@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 50px;
  position: relative;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c7de155;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #043764;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c7de1;
}

.video-marker {
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  top: -50px;
  cursor: pointer;
}
